body {
  background-color: #333F50;
}
header, footer {
  background-color: #222A35;
  height: 64px;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
}
footer {
  position: absolute;
  bottom: 0;
}
main {
  background-color: #222A35;
  max-width: 768px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  /* for desktop */
  main {
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 20px;
  }

}
