a {
  color: #F47D33;
  text-decoration: none;
  transition: 0.25s;
}
a:hover {
  color: #FFAE7C;
}
a[href=""], a[href=""]:hover {
  color: #8DA3C1;
  transition: none;
  cursor: default;
}
body {
  background-color: #333F50;
  margin: 0;
  color: #E6EBF2;
  font-family: 'Lato', sans-serif;
}

.details {
  padding-bottom: 12px;
}

.details .align-right {
  float: right;
  text-transform: uppercase;
  font-size: 75%;
}
.game {
  padding: 24px 0;
}
.game:nth-child(even) {
  margin-right: -24px;
  margin-left: -24px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #1E252F;
}
.game:last-child {
  text-align: center;
}

input[id*='marginInput'] {
  width: 25%;
  text-align: right;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
select[id*='clubInput'] {
  width: 75%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 32px;
  border: none;
  -webkit-appearance: none;
  padding-left: 36px;
}

.slider, .inputs {
  text-align: right;
  max-width: 496px;
  padding-left: 224px;
  height: 50px;
}
span.downArrow {
  height: 24px;
  position: absolute;
  font-size: 18px;
  padding: 5px 12px;
  pointer-events: none;
  color: #1E252F;
  z-index: 1;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #333F50;
  outline: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #F47D33;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #F47D33;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #F2975E;
}

input[type="range"]:active::-webkit-slider-thumb {
  width: 48px;
  cursor: grabbing;
  background: #F2975E;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #F2975E;
}

input[type="range"]:active::-moz-range-thumb {
  width: 48px;
  cursor: grabbing;
  background: #F2975E;
}

div.bonusRow {
  height: 32px;
}

div.bonusRow:nth-child(1) {
  padding-bottom: 24px;
}

button {
  border: none;
  webkit-appearance: none;
  border-radius: 16px;
  height: 32px;
  width: 120px;
  color: #F47D33;
  background-color: #333F50;
  text-transform: uppercase;
  font-family: 'Lato Black', sans-serif;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s;
}

button:hover {
  background-color: #777;
  color: #E6EBF2;
}

button.submit {
  height: 48px;
  font-size: 24px;
  width: fit-content;
  padding: 0 24px;
}

button.buttonBonusDisposal, button.buttonBonusScorer {
  position: absolute;
}

span.bonusMarkers {
  width: 64px;
  height: 32px;
  margin: 0px 18px;
  margin-right: 24px;
  position: absolute;
  margin-left: 138px;
}

span.bonusMarkers div {
  width: 64px;
  display: block;
}

span.usedBonusMarker {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #F47D33;
  margin: 2px;
  border-radius: 10px;
}

div.flags {
  text-align: left;
  height: fit-content;
  width: fit-content;
}

div.flag {
  width: 200px;
  height: 100px;
  background-size: contain;
  display: inline-block;
  float: left;
}
div.flag#DRW {
  background-image: url('images/flag_drw.png');
}
div.flag#NA {
  background-image: url('images/flag_na.png');
}
div.flag#ADE {
  background-image: url('images/flag_ade.png');
}
div.flag#BRI {
  background-image: url('images/flag_bri.png');
}
div.flag#CAR {
  background-image: url('images/flag_car.png');
}
div.flag#COL {
  background-image: url('images/flag_col.png');
}
div.flag#ESS {
  background-image: url('images/flag_ess.png');
}
div.flag#FRE {
  background-image: url('images/flag_fre.png');
}
div.flag#GEE {
  background-image: url('images/flag_gee.png');
}
div.flag#GCS {
  background-image: url('images/flag_gcs.png');
}
div.flag#GWS {
  background-image: url('images/flag_gws.png');
}
div.flag#HAW {
  background-image: url('images/flag_haw.png');
}
div.flag#MEL {
  background-image: url('images/flag_mel.png');
}
div.flag#NTH {
  background-image: url('images/flag_nth.png');
}
div.flag#PTA {
  background-image: url('images/flag_pta.png');
}
div.flag#RIC {
  background-image: url('images/flag_ric.png');
}
div.flag#SYD {
  background-image: url('images/flag_syd.png');
}
div.flag#STK {
  background-image: url('images/flag_stk.png');
}
div.flag#WCE {
  background-image: url('images/flag_wce.png');
}
div.flag#WBD {
  background-image: url('images/flag_wbd.png');
}
header, footer {
  background-color: #1E252F;
  height: 128px;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  display: table;
  font-size: 32px;
}
header::after, footer::before { 
  content: "";
  background-color: #F47D33;
  height: 32px;
  width: 100%;
}
header::after {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 128px;
  left: 0;
}
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
header span span {
  display: block;
}
header span.logo-container {
  margin-left: 24px;
  margin-right: 0;
  width: 32px;
  padding-left: 24px;
  padding-right: 12px;
}
header span.logo-container .logo-small-desktop {
  display: none;
}
header span.hamburger-container {
  font-size: 64px; 
}
span.highlight {
  color: #F47D33;
}
h1 span.highlight {
  display: block;
}
h1 {
  font-family: 'Lato Black', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
}
span.username-container {
  text-align: right;
}
span.username-container span span:nth-child(2) {
  color: #F47D33;
}
span.hamburger-container {
  width: 64px;
}
#nav-hamburger {
  cursor: pointer;
}
#container-hamburger {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  display: inline-block;
}
#container-hamburger span {
  background-color: #E6EBF2;
  height: 8px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin: 4px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 12px;
}
#hamburgerBottom {
  top: 24px;
}
.animcomplete #hamburgerTop {
  width: 100%;
  transform: translate(0, 24px) rotate(45deg);
}
.animcomplete #hamburgerMid {
  width: 0;
  height: 0;
  transform: translate(30px, 0);
}
.animcomplete #hamburgerBottom {
  width: 100%;
  transform: translate(0, -12px) rotate(-45deg);
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
}

/* Hamburger CSS Animation */
@keyframes hamburgerTopBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 6px;
    transform: translate(26px, 8px);
  }
  60% {
    width: 8px;
    transform: translate(26px, 24px);
  }
  90% {
    width: 120%;
    transform: translate(-8px, 24px) rotate(60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, 24px) rotate(45deg);
  }
}
@keyframes hamburgerMidBar {
  0% {
    width: 100%;
    height: 8px;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    height: 8px;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    height: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 6px;
    height: 8px;
    transform: translate(26px, 0);
  }
  60% {
    width: 8px;
    height: 8px;
    transform: translate(26px, 0);
  }
  61% {
    width: 0;
    height: 0;
    transform: translate(30px, 0);
  }
  100% {
    width: 0;
    height: 0;
    transform: translate(30px, 0);
  }
}
@keyframes hamburgerBottomBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 8px;
    transform: translate(26px, -8px);
  }
  60% {
    width: 12px;
    transform: translate(26px, -12px);
  }
  90% {
    width: 120%;
    transform: translate(-8px, -12px) rotate(-60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, -12px) rotate(-45deg);
  }
}

.float-right {
  float: right;
  height: auto;
  margin-right: 24px;
}

img.loader {
  animation: loadingSpinner 0.5s linear 0s infinite normal forwards;
}

@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


nav {
  font-family: 'Lato Black', sans-serif;
  font-size: 32px;
  top: 128px;
  right: -100%;
  padding: 0;
  position: fixed;
  margin: 0;
  transition: 0.5s;
}
nav ul {
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  margin: 0;
  padding-bottom: 36px;
  padding-right: 72px;
  padding-left: 48px;
  padding-top: 0;
  background-color: #1E252F;;
  border-bottom-left-radius: 48px;
}
nav li {
  list-style-type: none;
  padding-top: 10px;
}
nav li:nth-child(1)::after {
  content: '';
  height: 4px;
  background-color: #F47D33;
  width: 100%;
  display: list-item;
  margin-top: 10px;
}
nav .selected, nav .selected:hover {
  color: #BECADB;
}
nav a {
  color: #E6EBF2;
}
nav a:hover:not([href=""]) {
  cursor: pointer;
  color: #F47D33;
}

main {
  max-width: 720px;
  background-color: #222A35;
  margin: 0;
  margin-top: 160px;
  padding: 24px;
  min-height: 100vh;
}

select {
  cursor: pointer;
}
select.roundSelector {
  width: 200px;
  padding-left: 36px;
  position: absolute;
}
div.roundTitle {
  max-width: 496px;
  width: unset;
}

input, select, div.roundTitle {
  width: 100%;
  height: 32px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  border-radius: 16px;
  box-shadow: none;
  padding-left: 18px;
  border: none;
  background-color: #333F50;
  color: #F47D33;
  -webkit-appearance: none;
}
input[type="submit"] {
  margin-top: 18px;
  text-transform: uppercase;
  padding: 0;
  font-family: 'Lato Black', sans-serif;
  cursor: pointer;
  transition: 0.25s;
}
input[type="submit"]:hover {
  height: 48px;
  color: #FFAE7C;
}
input:-webkit-autofill {
  background-color: #667EA0;
}
.offline table {
  width: 100%;
}
.offline td {
  padding: 24px;
  width: 50%;
  vertical-align: top;
}
.offline div {
  margin-top: 6px;
}

footer::before {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 128px;
}
footer {
  position: relative;
  bottom: 0;
}



@media only screen and (min-width: 1200px), only screen and (max-width: 750px) {
  /* for desktop */
  main {
    margin: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 24px;
  }
  header {
    font-size: 16px;
  }
  header, footer {
    height: 64px; 
  }
  header::after {
    height: 16px;
    top: 64px;
  }
  h1 span.highlight {
    display: inline;
  }
  header span.logo-container .logo-small-desktop {
    display: block;
  }
  header span.logo-container .logo-small {
    display: none;
  }
  span.hamburger-container {
    width: 32px;
  }
  #nav-hamburger {
    cursor: pointer;
  }
  #container-hamburger {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
  }
  #container-hamburger span {
    background-color: white;
    height: 4px;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 2px;
    margin: 2px;
  }
  #hamburgerTop {
    top: 0;
  }
  #hamburgerMid {
    top: 6px;
  }
  #hamburgerBottom {
    top: 12px;
  }
  .animcomplete #hamburgerTop {
    width: 100%;
    transform: translate(0, 12px) rotate(45deg);
  }
  .animcomplete #hamburgerMid {
    width: 0;
    height: 0;
    transform: translate(15px, 0);
  }
  .animcomplete #hamburgerBottom {
    width: 100%;
    transform: translate(0, -6px) rotate(-45deg);
  }
  .open #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .closed #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
  }

  /* Hamburger CSS Animation */
  @keyframes hamburgerTopBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, 4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, 12px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, 12px) rotate(60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, 12px) rotate(45deg);
    }
  }
  @keyframes hamburgerMidBar {
    0% {
      width: 100%;
      height: 4px;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      height: 4px;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      height: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      height: 4px;
      transform: translate(13px, 0);
    }
    60% {
      width: 4px;
      height: 4px;
      transform: translate(13px, 0);
    }
    61% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
    100% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
  }
  @keyframes hamburgerBottomBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, -4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, -6px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, -6px) rotate(-60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
  nav {
    font-size: 16px;
    top: 64px;
  }
  nav ul {
    padding-bottom: 18px;
    padding-right: 36px;
    padding-left: 24px;
    border-bottom-left-radius: 24px;
  }
  nav li {
    padding-top: 5px;
  }
  nav li:nth-child(1)::after {
    height: 2px;
    margin-top: 5px;
  }
  footer::before {
    height: 16px;
    bottom: 64px;
  }
  main {
    margin-bottom: 64px;
  }
  header span span {
    display: inline;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 18px;
  }
  span.username-container {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  header span span {
    display: block;
  }
}
