a {
  color: #F47D33;
  text-decoration: none;
  transition: 0.25s;
}
body {
  background-color: #333F50;
  margin: 0;
  color: #E6EBF2;
  font-family: 'Lato', sans-serif;
}
header, footer {
  background-color: #1E252F;
  height: 128px;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  display: table;
  font-size: 32px;
}
header::after, footer::before { 
  content: "";
  background-color: #F47D33;
  height: 32px;
  width: 100%;
}
header::after {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 128px;
  left: 0;
}
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
header span span {
  display: block;
}
header span.logo-container {
  margin-left: 24px;
  margin-right: 0;
  width: 32px;
  padding-left: 24px;
  padding-right: 12px;
}
header span.logo-container .logo-small-desktop {
  display: none;
}
header span.hamburger-container {
  font-size: 64px; 
}
span.highlight {
  color: #F47D33;
}
h1 span.highlight {
  display: block;
}
h1 {
  font-family: 'Lato Black', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
}
span.coin-container {
  /* display: none; */
}
span.username-container {
  text-align: right;
}
span.hamburger-container {
  width: 64px;
}
#nav-hamburger {
  cursor: pointer;
}
#container-hamburger {
  width: 80px;
  height: 60px;
  margin-right: 20px;
  display: inline-block;
}
#container-hamburger span {
  background-color: #E6EBF2;
  height: 12px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 6px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 12px;
}
#hamburgerBottom {
  top: 24px;
}
.animcomplete #hamburgerTop {
  width: 100%;
  transform: translate(0, 24px) rotate(45deg);
}
.animcomplete #hamburgerMid {
  width: 0;
  height: 0;
  transform: translate(50%, 0);
}
.animcomplete #hamburgerBottom {
  width: 100%;
  transform: translate(0, -12px) rotate(-45deg);
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
}

/* Hamburger CSS Animation */
@keyframes hamburgerTopBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-12px);
  }
  40% {
    width: 12px;
    transform: translateX(34px);
  }
  50% {
    width: 8px;
    transform: translate(34px, 8px);
  }
  60% {
    width: 12px;
    transform: translate(34px, 24px);
  }
  90% {
    width: 120%;
    transform: translate(-12px, 24px) rotate(60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, 24px) rotate(45deg);
  }
}
@keyframes hamburgerMidBar {
  0% {
    width: 100%;
    height: 12px;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    height: 12px;
    transform: translateX(-12px);
  }
  40% {
    width: 12px;
    height: 12px;
    transform: translateX(34px);
  }
  50% {
    width: 8px;
    height: 12px;
    transform: translate(34px, 0);
  }
  60% {
    width: 12px;
    height: 12px;
    transform: translate(34px, 0);
  }
  61% {
    width: 0;
    height: 0;
    transform: translate(40px, 0);
  }
  100% {
    width: 0;
    height: 0;
    transform: translate(40px, 0);
  }
}
@keyframes hamburgerBottomBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 12px;
    transform: translateX(34px);
  }
  50% {
    width: 8px;
    transform: translate(34px, -8px);
  }
  60% {
    width: 12px;
    transform: translate(34px, -12px);
  }
  90% {
    width: 120%;
    transform: translate(-12px, -12px) rotate(-60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, -12px) rotate(-45deg);
  }
}
.float-right {
  float: right;
  height: auto;
  margin-right: 24px;
}


nav {
  font-family: 'Lato Black', sans-serif;
  font-size: 32px;
  top: 128px;
  right: -100%;
  padding: 0;
  position: fixed;
  margin: 0;
  transition: 0.5s;
}
nav ul {
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  margin: 0;
  padding-bottom: 36px;
  padding-right: 72px;
  padding-left: 48px;
  padding-top: 0;
  background-color: #1E252F;;
  border-bottom-left-radius: 48px;
}
nav li {
  list-style-type: none;
  padding-top: 10px;
}
nav li:nth-child(1)::after {
  content: '';
  height: 4px;
  background-color: #F47D33;
  width: 100%;
  display: list-item;
  margin-top: 10px;
}
nav .selected {
  color: #777;
}
nav a:hover {
  cursor: pointer;
  color: #F47D33;
}

main {
  background-color: #222A35;
  margin: 0;
  margin-top: 160px;
  padding: 24px;
  min-height: 100vh;
}
footer::before {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 128px;
}
footer {
  position: relative;
  bottom: 0;
}



@media only screen and (min-width: 1200px) {
  /* for desktop */
  main {
    margin: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 24px;
    max-width: 1200px;
  }
  header {
    font-size: 16px;
  }
  header, footer {
    height: 64px; 
  }
  header::after {
    height: 16px;
    top: 64px;
  }
  h1 span.highlight {
    display: inline;
  }
  header span.logo-container .logo-small-desktop {
    display: block;
  }
  header span.logo-container .logo-small {
    display: none;
  }
  span.hamburger-container {
    width: 32px;
  }
  #nav-hamburger {
    cursor: pointer;
  }
  #container-hamburger {
    width: 40px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
  }
  #container-hamburger span {
    background-color: white;
    height: 6px;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 3px;
  }
  #hamburgerTop {
    top: 0;
  }
  #hamburgerMid {
    top: 6px;
  }
  #hamburgerBottom {
    top: 12px;
  }
  .animcomplete #hamburgerTop {
    width: 100%;
    transform: translate(0, 12px) rotate(45deg);
  }
  .animcomplete #hamburgerMid {
    width: 0;
    height: 0;
    transform: translate(20px, 0);
  }
  .animcomplete #hamburgerBottom {
    width: 100%;
    transform: translate(0, -6px) rotate(-45deg);
  }
  .open #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .closed #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
  }

  /* Hamburger CSS Animation */
  @keyframes hamburgerTopBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-6px);
    }
    40% {
      width: 6px;
      transform: translateX(17px);
    }
    50% {
      width: 4px;
      transform: translate(17px, 4px);
    }
    60% {
      width: 6px;
      transform: translate(17px, 12px);
    }
    90% {
      width: 120%;
      transform: translate(-6px, 12px) rotate(60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, 12px) rotate(45deg);
    }
  }
  @keyframes hamburgerMidBar {
    0% {
      width: 100%;
      height: 6px;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      height: 6px;
      transform: translateX(-6px);
    }
    40% {
      width: 6px;
      height: 6px;
      transform: translateX(17px);
    }
    50% {
      width: 4px;
      height: 6px;
      transform: translate(17px, 0);
    }
    60% {
      width: 6px;
      height: 6px;
      transform: translate(17px, 0);
    }
    61% {
      width: 0;
      height: 0;
      transform: translate(20px, 0);
    }
    100% {
      width: 0;
      height: 0;
      transform: translate(20px, 0);
    }
  }
  @keyframes hamburgerBottomBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-6px);
    }
    40% {
      width: 6px;
      transform: translateX(17px);
    }
    50% {
      width: 4px;
      transform: translate(17px, -4px);
    }
    60% {
      width: 6px;
      transform: translate(17px, -6px);
    }
    90% {
      width: 120%;
      transform: translate(-6px, -6px) rotate(-60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
  nav {
    font-size: 16px;
    top: 64px;
  }
  nav ul {
    padding-bottom: 18px;
    padding-right: 36px;
    padding-left: 24px;
    border-bottom-left-radius: 24px;
  }
  nav li {
    padding-top: 5px;
  }
  nav li:nth-child(1)::after {
    height: 2px;
    margin-top: 5px;
  }
  footer::before {
    height: 16px;
    bottom: 64px;
  }
  main {
    margin-bottom: 64px;
  }
  header span span {
    display: inline;
  }
}
